<section class="w3l-homeblock4 py-5" id="video">
    <div class="video-recipe py-md-5 py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self">
                    <div class="waviy mb-sm-3 mb-2">
                        <span style="--i:1">M</span>
                        <span style="--i:2">u</span>
                        <span style="--i:3">h</span>
                        <span style="--i:4">t</span>
                        <span style="--i:5">e</span>
                        <span style="--i:6">ş</span>
                        <span style="--i:7">e</span>
                        <span style="--i:7">m</span>
                        <span style="--i:7"></span>
                        <span style="--i:8">K</span>
                        <span style="--i:1">u</span>
                        <span style="--i:2">t</span>
                        <span style="--i:3">l</span>
                        <span style="--i:4">a</span>
                        <span style="--i:5">m</span>
                        <span style="--i:6">a</span>
                        <span style="--i:6">l</span>
                        <span style="--i:7">a</span>
                        <span style="--i:8">r</span>

                    </div>

                    <p class="pr-lg-5">
                       Yeni yıldan doğumgününe her türlü organizasyonlarınızı titiz bir şekilde çalışarak planlıyoruz. Her türlü kutlama organizasyonu için bizimle iletişime geçebilirsiniz. Bazı kutlamalardan video örneklerini buradan izleyebilirsiniz.
                    </p>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-sm-5 mt-4">
                    <div class="row">
                        <div class="col-md-6 p-md-0">
                            <iframe src="https://www.youtube.com/embed/9aeKXBQtXgg" frameborder="0"
                                    allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6 mt-md-0 mt-4">
                            <iframe src="https://www.youtube.com/embed/RBuCQjhG5GM" frameborder="0"
                                    allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>